<!DOCTYPE html>
<html>
  <head>
    <title>Codaisseurup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="text-center" id="logo">
      <%= link_to image_tag('https://image.ibb.co/dD3OVv/codaisseurup_logo.png'), root_path %>
    </div>

    <%= render 'shared/navbar' %>

    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
